/* General Stylings */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #666;
}

li {
    list-style-type: none; /*removes bullet dots from the list */
}

a {
    text-decoration-line: none;
    color: inherit;
}

.button {
    border: solid 2px #fff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: background-color 0.5s ease-out 100ms;
}

.button-gray {
    border: solid 1px #ddd;
    padding: 8px 20px;
    border-radius: 20px;
    margin-left: 16px;
    transition: background-color 0.5s ease-out 100ms;
}

.button:hover {
    background-color: #ffffff99;
    font-weight: 700;
}

.button-gray:hover {
    background-color: #dddddd99;
    font-weight: 700;
}

/* Styling of header */
.hero-header {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #ffffff99;
    border-bottom: solid 1px #dddddd;
}

.brand {
    margin: 0 0 0 15%;
    font-size: 24px;

}

nav {
    margin-right: 15%;
}
.nav-links {
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

/* Styling of Hero img */

.hero {
    height: 36em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url(https://images.unsplash.com/photo-1600618528240-fb9fc964b853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.hero-content {
    margin: 0 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-header {
    margin: 0;
    font-size: 48px;
}

.hero-text {
    width: 50%;
}

/* styling of information cards */

.course-cards {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: 0 15%;
}

.course-cards h2 {
    text-align: center;
}

.info-cards {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

.card {
    width: 240px;
    border-radius: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
    -moz-box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
    box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p, h3 {
    padding-left: 16px;
}

.card p {
    padding-bottom: 24px;
}
/* styling of quote section */

.quote {
    background-color: #ddd;
    height: 24em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 28px;
    width: 50%;
    padding-left: 25%;
}

.author-name {
    font-size: 24px;
    font-weight: 700;
    padding-right: 15%;
    text-align: end;
    color: #555;
}

/* styling of call to action */

.action-flex {
    display: flex;
    justify-content: center;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5992A6;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
    -moz-box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
    box-shadow: 4px 4px 16px 0px rgba(51,51,51,0.73);
    border-radius: 10px;
    width: 70%;
    margin: 100px auto;
    color: #fff;
}

.action-text h3 {
    padding-left: 0;
    font-size: 24px;
}

.action-text p {
    padding-bottom: 24px;
}

/* styling of copyright secyion */

footer {
    background-color: #ddd;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}